.row {
    margin: 0;
}

.row .col {
    padding: 0;
}

.entire-wrapper {
    overflow: hidden;
    height: 100vh;
}

.map-wrapper {
    /*display: none;*/
}

.intro-wrapper {
    position:relative;
    left:0;
    width: 100%;
    height: 100%;
}

.map-wrapper, .intro-wrapper, .details-wrapper {
    height: 100vh;
    /*display: none;*/
}

#bgvid {
    /* Make video to at least 100% wide and tall */
    min-width: 100%;
    min-height: 100%;
    /* Setting width & height to auto prevents the browser from stretching or squishing the video */
    width: auto;
    height: auto;
    /* Center the video */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: -1;
}

#bgvid video {

}

.intro-top {
    height: 88vh;
    background-color: rgba(0,0,0,.7);
}

.intro-bottom {
    height: 12vh;
}

.intro-bottom-text {
    text-align: center;
}

.search-top {
    top: 0;
    position: fixed;
    height: 12vh;
    z-index: 3;
    background-color: white;
}

.intro-inner {
    height: 50vh;
}

.logo-nav {
    background: url(assets/images/meetupmap-logo-white.png) no-repeat left center;
    background-size: contain;
    height: 8vh;
    margin-left: 0 !important;
}

.logo {
    background: url(assets/images/meetupmap-logo-red-white.png) no-repeat center;
    background-size: 100%;
    width: 100%;
    height: 15vh;
    margin: 2% 0 0;
}

.slogan {
    color: white;
    text-align: center;
    font-style: italic;
    margin: 0 0 2%;
}

.search-input {
    background-color: lightyellow;
    height: 8vh;
    margin: 2% 1%;
}

.zip-input {
    background-color: lightgoldenrodyellow;
    height: 8vh;
    margin: 2% 0 2% 1%;
}

.go-button {
    width: 100%;
    height: 8vh;
    margin: 2% 0 4%;
    padding: 0;
}

.map-left {
    position: fixed;
    height: 100vh;
    z-index: 2;
    top: 14vh;
    left: 3vh !important;
    overflow: scroll;
}

.map-center {
    height: 100vh;
}

#map {
    height: 100%;
}

.input-field label, .input-field input, .input-field input[type=text]:focus + label {
    color: white;
}

.input-field input[type=text] {
    border-bottom: 1px solid white !important;
}

.input-field input::-webkit-input-placeholder {
    color: white;
}

.row .input-field input:focus, input[type=text].valid {
    box-shadow: 0 1px 0 0 white !important;
    border-bottom: 1px solid white !important;
}

.go-btn {
    width: 100%;
    height: 100%;
}

/********************
DETAILS PAGE
********************/



.details-wrapper {
    padding: 5% 0;
}


/*.details-wrapper iframe{*/

    /*!*margin-bottom: 10px;*!*/
    /*!*border-radius: 10px;*!*/

/*}*/

.details-wrapper iframe {
    /*margin: 25px;*/
    width: 100%;
    /*!*padding: 5px;*!*/
}

/*.video-container {*/

    /*width: 100%;*/
    /*height: auto;*/
/*}*/

.go-btn2 {
    width: 100%;
}

.card {
    cursor: pointer;
}

