.row {
    margin: 0;
}

.row .col {
    padding: 0;
}

.entire-wrapper {
    overflow: hidden;
    height: 100vh;
}

.map-wrapper {
    /*display: none;*/
}

.intro-wrapper {
    position:relative;
    left:0;
    width: 100%;
    height: 100%;
}

.map-wrapper, .intro-wrapper, .details-wrapper {
    height: 100vh;
    /*display: none;*/
}

.intro-top {
    background-image: url('assets/images/friends.webm');
    background-size: cover;
    /*background-color: lightblue;*/
    height: 90vh;
}

.intro-bottom {
    height: 10vh;
}

.search-top {
    top: 0;
    position: fixed;
    height: 10vh;
    z-index: 3;
    background-color: white;
}

.intro-inner {
    height: 50vh;
}

.logo {
    width: 100%;
    height: 20vh;
    margin: 2% 0 4%;
}

.search-input {
    background-color: lightyellow;
    height: 8vh;
    margin: 2% 1%;
}

.zip-input {
    background-color: lightgoldenrodyellow;
    height: 8vh;
    margin: 2% 0 2% 1%;
}

.go-button {
    background-color: lightcyan;
    width: 100%;
    height: 8vh;
    margin: 2% 0 4%;
    padding: 0;
}

.map-left {
    position: absolute;
    height: 100vh;
    z-index: 2;
}

.map-center {
    height: 100vh;
}

#map {
    height: 100%;
}
.go-btn {
    border: none;
    width: 100%;
    height: 100%;
    font-family: 'Roboto black', sans-serif;
    font-weight: 600;
    font-size: 20px;
}

