
.row {
    margin: 0;
}

.row .col {
    padding: 0;
}

.entire-wrapper {
    overflow: hidden;
    height: 100vh;
}

.intro-wrapper {
    position:relative;
    left:0;
    width: 100%;
    height: 100%;
}

.map-wrapper, .intro-wrapper, .details-wrapper {
    height: 100vh;
}

.pre-load {
    position: fixed;
    z-index: 999;
    height: 4em;
    width: 4em;
    margin: auto;
    top: 30%;
    left: 0;
    bottom: 0;
    right: 0;
    display: none;
}

.spinner-red-only {
    border-color: white;
}

/********************
INTRO PAGE
********************/

#bgvid {
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: -1;
}

.intro-top {
    height: 88vh;
    background-color: rgba(0,0,0,.7);
}

.intro-inner {
    height: 50vh;
}

.logo {
    background: url(assets/images/meetupmap-logo-new.png) no-repeat center;
    background-size: 100%;
    width: 100%;
    height: 15vh;
    margin: 2% 0 0;
}

.slogan {
    color: white;
    text-align: center;
    font-style: italic;
    margin: 0 0 2%;
}

.intro-icons {
    top: 1vh;
    left: 1vh;
}

.search-input {
    height: 8vh;
    margin: 2% 1%;
}

.zip-input {
    height: 8vh;
    margin: 2% 0 2% 1%;
}

.input-field label, .input-field input, .input-field input[type=text]:focus + label {
    color: white;
}

.input-field input[type=text] {
    border-bottom: 1px solid white !important;
}

.input-field input::-webkit-input-placeholder {
    color: white;
}

.row .input-field input:focus, input[type=text].valid {
    box-shadow: 0 1px 0 0 white !important;
    border-bottom: 1px solid white !important;
}

.go-btn {
    width: 100%;
    height: 100%;
}

.go-button {
    width: 100%;
    height: 8vh;
    margin: 2% 0 4%;
    padding: 0;
}

.intro-bottom {
    height: 12vh;
}

.intro-bottom-text {
    text-align: center;
}

/********************
THE MAP
********************/

.map-center {
    height: 100vh;
}

#map {
    height: 100%;
}

/********************
SEARCH NAV
********************/

.search-top {
    top: 0;
    position: fixed;
    height: 12vh;
    z-index: 3;
    background-color: white;
}

.logo-nav {
    background: url(assets/images/meetupmap-logo-new-white.png) no-repeat left center;
    background-size: contain;
    height: 8vh;
    margin-left: 0 !important;
    cursor: pointer;
}

.go-btn2 {
    width: 75%;
}

/********************
SIDEBAR
********************/

.map-left {
    position: fixed;
    height: 88vh;
    z-index: 2;
    top: 12vh;
    left: 3vh !important;
    overflow-y: scroll;
    overflow-x: hidden;
}

.card {
    cursor: pointer;
    margin-right: 2rem;
}

.active-card {
    background-color: white;
    color: red !important;
    font-weight: bold;
    border: 1px solid red;
    box-sizing: border-box;
}

.back-to-map {
    left: 90%;
    transform: translateX(-10%);
    top: 9vh;
    z-index: 100;
}

.card .card-content .card-title {
    line-height: 32px;
}

.first-card {
    height: 1px;
    box-shadow: 0 0;
    background-color: rgba(0,0,0,0);
}

/********************
DETAILS PAGE
********************/

.video-list, .event-details {
    top: 14vh;
    position: relative;
}

.event-photos {
    height: 12vh;
}

.event-details .row {
    margin: 2vh 0;
}

.details-inner {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100vh;
}

.event-details h5:last-child {
    border-bottom: 2px solid black;
}

.event-details img {
    width: 100%;
    height: auto;
}

.event-details p:last-child, .event-details img:last-child {
    padding: 0 0 3vh;
}

.video-list .video-container:last-child {
    padding: 0 0 3vh;
}

.row .col .video-list {
    padding: 0 0 100px;
}

/*******************
MAP MARKER
*******************/

.mylabel {
    padding: 5px;
}

.mylabel span {
    width:100%;
    font-size: 16px;
    font-weight: bold;
}
.div_links {
    color: grey;
}
/********************
SCROLL BAR
********************/

#map_left::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

#map_left::-webkit-scrollbar {
    width: 6px;
    background-color: rgba(255,255,255,.2);
}

#map_left::-webkit-scrollbar-thumb {
    background-color: #e53935;
}

#toast-container{
    top: auto !important;
    right: auto !important;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

@media only screen and (min-device-width : 320px) and (max-device-width : 667px) {

    .input-container .input-field label {
        font-size: .7rem;
    }

    .input-nav input::-webkit-input-placeholder {
        font-size: .7rem;
    }

    .logo-nav {
        display: none;
    }

    .go-btn2 {
        width: 100%;
    }

    #map {
        display: none;
    }

    .map-left {
        position: fixed;
        height: 88vh;
        z-index: 2;
        overflow-y: scroll;
        overflow-x: hidden;
    }

    .details-wrapper {
        display: none;
    }

}

