.row {
    margin: 0;
}

.row .col {
    padding: 0;
}

.map-wrapper {
    height: 100vh;
    z-index: 1;
    /*display: none;*/
}

.intro-wrapper {
    height: 100vh;
    z-index: 2;
}

.intro-top {
    background-color: lightblue;
    height: 90vh;
}

.intro-credits {
    height: 10vh;
}

.intro-inner {
    height: 50vh;
}

.logo {
    width: 100%;
    height: 20vh;
    margin: 2% 0 4%;
}

.search-input {
    background-color: lightyellow;
    height: 8vh;
    margin: 2% 1%;
}

.zip-input {
    background-color: lightgoldenrodyellow;
    height: 8vh;
    margin: 2% 0 2% 1%;
}

.go-button {
    background-color: lightcyan;
    width: 100%;
    height: 8vh;
    margin: 2% 0 4%;
    padding: 0;
}

.map-left {
    background-color: white;
    height: 100vh;
}

.map-center {
    height: 100vh;
}

.map-right {
    background-color: lightyellow;
    height: 100vh;
}

.go-btn {
    border: none;
    width: 100%;
    height: 100%;
    font-family: 'Roboto black', sans-serif;
    font-weight: 600;
    font-size: 20px;
}

/*
.input-field .zip-input-text, .input-field .search-input-text {
    height: 8vh;
}*/
